/* font imports */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,200,100,700,900);


/* color pallete */
$background: #101312;
$background2: #177A86;
$backgroundaccent: #1D433C;
$backgroundaccent2: #495856;
$primarytext: #1DAEBE;
$accenttext: #ABFAF3;
$accenttext2: #D3FEFA;


.primarytext {
    color: $primarytext !important;
}

.accenttext {
    font-weight: 200;
    color: $accenttext !important;
}


.primaryshadow {
    text-shadow: 0px 0px 12px $background2;
}

.boxshadow {
    -webkit-box-shadow: 2px 2px 5px 10px rgba(55, 55, 55, 0.48);
    -moz-box-shadow:    2px 2px 5px 10px rgba(55, 55, 55, 0.48);
    box-shadow:         2px 2px 5px 10px rgba(55, 55, 55, 0.48);
}

/* for home page */
.jumbotron #commandcount rect {
    fill: none !important;
}

.jumbotron #commandcount .highcharts-title {
    font-size: 0px !important;
}

.jumbotron #commandcount .highcharts-legend {
    font-size: 0px !important;
}

.homelist {
    width: 65%;
}

.homelist .list-group-item {
    background: none !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

.homelist .list-group-item:hover {
    background-color: rgba(75, 75, 75, 0.2) !important;
}



body,html,.row-offcanvas {
  height:100%;
}

body {
  padding-top: 50px;
  overflow-x: hidden;
  background-color: $background;
    background-image: url('edges.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.navbar-nav {
  padding-right: 15px;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color: rgba(75, 75, 75, 0.1);
  float: right;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
  color: #eaeaea;
}

#main {
  height:100%;
  overflow:auto;
}

/* Off Canvas Sidebar */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-right
  {
    left: 0px;
  }

  .row-offcanvas-right.active {
    left: -220px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}

/* About Page Info/Avatar */
.team img {
    float: left;

}
.team ul {
  list-style: none;
}
.team h3 {
  padding: 10px;
}
.team small {
  display: inline-block;
}
.team a {
  color: #A3A3A3;
  display: inline-block;
}
.team a:hover {
  color: #6D6D6D !important;
}
.person {
  display: inline-block;
  padding-left: 15px;
}
.person h3 {
  padding: 0px;
  margin: 0px;
}
.tech ul {
  list-style: none;
}

/* Home Page Font-Awesome Large */
.large-icon:before {
  font-size: 200px;
  display: inline-block;
}

.jumbotron h1 {
    margin-top: -35px;
    font-weight: 300;
    border-bottom: thin solid;
    width: 45%;
}

.jumbotron {
    background-color: rgba(60, 60, 60, 0.4);
    margin-top: 30px;
    border-radius: 10px !important;
}

.jumbotron a {
    color: $background2 !important;
}

.jumbotron a:hover {
    color: $accenttext !important;
}