<template name="about">
<div class="jumbotron">
  <h1>About StationStream:</h1>
  <hr />
  <h2>The StationStream Team:</h2>
  <div class="team row">
    <div class="col-md-4">
      <img src="https://www.gravatar.com/avatar/b0ac99558241d82e96583861d73f5fd9"><h3>Daniel Climent <p><small>@4xposed</small></p> <a target="_blank" href="https://github.com/4xposed"><i class="fa fa-github"></i></a> <a target="_blank" href="https://twitter.com/4xposed"><i class="fa fa-twitter"></i></a></h3>
    </div>
    <div class="col-md-4">
      <img src="https://www.gravatar.com/avatar/775d4af93750ada183c9d1be77e4279a"><h3>Daniel McMahon <p><small>@mcmahoniel</small></p> <a target="_blank" href="http://danieljamesmcmahon.com"><i class="fa fa-link"></i></a> <a target="_blank" href="https://github.com/mcmahoniel"><i class="fa fa-github"></i></a> <a target="_blank" href="https://twitter.com/mcmahoniel"><i class="fa fa-twitter"></i></a></h3>
    </div>
    <div class="col-md-4">
      <img src="https://www.gravatar.com/avatar/ec1df4d09dd688fac1dc5829621758eb"><h3>Mike Rickert <p><small>@ccnppro</small></p> <a target="_blank" href="http://mrickert.com"><i class="fa fa-link"></i></a> <a target="_blank" href="https://github.com/slacker87"><i class="fa fa-github"></i></a> <a target="_blank" href="https://twitter.com/ccnppro"><i class="fa fa-twitter"></i></a></h3>
    </div>
  </div>
  <hr />
  <div class="row">
    <h3>Technologies Used:</h3>
    <ul>
      <li><h4><a target="_blank" href="https://meteor.com">Meteor</a></h4></li>
      <li><h4><a target="_blank" href="http://cesiumjs.org">Cesium</a></h4></li>
      <li><h4><a target="_blank" href="http://getbootstrap.com">Bootstrap</a></h4></li>
      <li><h4><a target="_blank" href="http://www.lightstreamer.com">Lightstreamer</a></h4></li>
    </ul>
  </div>
</div>
</template>