<template name="about">
<div class="jumbotron">
  <h1>About StationStream:</h1>
  <p><h4>StationStream was built for the 2015 <a target="_blank" href="https://2015.spaceappschallenge.org">International Space Apps Challenge</a>, sponsored by NASA. Our goal was to build something interesting, educational, and nice to look at. Code for this project is available at our <a target="_blank" href="https://github.com/learnwebdev/stationstream">Github repository</a> and is under the MIT license.</h4></p> 
  <hr />
  <h2>The StationStream Team:</h2>
  <div class="team row">
    <div class="col-md-4">
      <img class="img-rounded" src="https://www.gravatar.com/avatar/b0ac99558241d82e96583861d73f5fd9">
      <div class="person">
        <h3>
        Daniel Climent
        <br />
        <small>@4xposed</small>
        <br />
        <a target="_blank" href="https://github.com/4xposed"><i class="fa fa-github"></i></a>
        <a target="_blank" href="https://twitter.com/4xposed"><i class="fa fa-twitter"></i></a>
        </h3>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-rounded" src="https://www.gravatar.com/avatar/775d4af93750ada183c9d1be77e4279a">
      <div class="person">
        <h3>
        Daniel McMahon
        <br />
        <small>@mcmahoniel</small>
        <br />
        <a target="_blank" href="http://danieljamesmcmahon.com"><i class="fa fa-link"></i></a>
        <a target="_blank" href="https://github.com/mcmahoniel"><i class="fa fa-github"></i></a>
        <a target="_blank" href="https://twitter.com/mcmahoniel"><i class="fa fa-twitter"></i></a>
        </h3>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-rounded" src="https://www.gravatar.com/avatar/ec1df4d09dd688fac1dc5829621758eb">
      <div class="person">
        <h3>
        Mike Rickert
        <br />
        <small>@ccnppro</small>
        <br />
        <a target="_blank" href="http://mrickert.com"><i class="fa fa-link"></i></a>
        <a target="_blank" href="https://github.com/slacker87"><i class="fa fa-github"></i></a>
        <a target="_blank" href="https://twitter.com/ccnppro"><i class="fa fa-twitter"></i></a>
        </h3>
      </div>
    </div>
  </div>
  <hr />
  <div class="row tech">
    <h3>Technologies Used:</h3>
    <ul>
      <li><h4><a target="_blank" href="https://meteor.com">Meteor</a> - Client/Server JavaScript Framework</h4></li>
      <li><h4><a target="_blank" href="http://cesiumjs.org">Cesium</a> - 3D Earth Rendering</h4></li>
      <li><h4><a target="_blank" href="http://www.chartjs.org">Chart.js</a> - Sidebar Charts</h4></li>
      <li><h4><a target="_blank" href="http://www.highcharts.com">Highcharts</a> - Data Visualization</h4></li>
      <li><h4><a target="_blank" href="http://getbootstrap.com">Bootstrap</a> - Layout Engine</h4></li>
      <li><h4><a target="_blank" href="http://www.lightstreamer.com">Lightstreamer</a> - NASA/ISS Data API</h4></li>
    </ul>
  </div>
</div>
</template>
