<template name="about">
  <div class="jumbotron">
    <h1>About StationStream:</h1>
    <h2>The StationStream Team:</h2>
    <ul>
      <li><img src="https://www.gravatar.com/avatar/b0ac99558241d82e96583861d73f5fd9"><h3>Daniel Climent <small>@4xposed</small> <a target="_blank" href="https://github.com/4xposed"><i class="fa fa-github"></i></a> <a target="_blank" href="https://twitter.com/4xposed"><i class="fa fa-twitter"></i></a></h3></li>
      <li><img src="https://www.gravatar.com/avatar/775d4af93750ada183c9d1be77e4279a"><h3>Daniel McMahon <small>@mcmahoniel</small> <a target="_blank" href="http://danieljamesmcmahon.com"><i class="fa fa-link"></i></a> <a target="_blank" href="https://github.com/mcmahoniel"><i class="fa fa-github"></i></a> <a target="_blank" href="https://twitter.com/mcmahoniel"><i class="fa fa-twitter"></i></a></h3></li>
      <li><img src="https://www.gravatar.com/avatar/ec1df4d09dd688fac1dc5829621758eb"><h3>Mike Rickert <small>@ccnppro</small> <a target="_blank" href="http://mrickert.com"><i class="fa fa-link"></i></a> <a target="_blank" href="https://github.com/slacker87"><i class="fa fa-github"></i></a> <a target="_blank" href="https://twitter.com/ccnppro"><i class="fa fa-twitter"></i></a></h3></li>
    </ul>
    <br />
    <h3>Technologies Used:</h3>
    <ul>
      <li><h4><a target="_blank" href="https://meteor.com">Meteor</a></h4></li>
      <li><h4><a target="_blank" href="http://cesiumjs.org">Cesium</a></h4></li>
      <li><h4><a target="_blank" href="http://getbootstrap.com">Bootstrap</a></h4></li>
      <li><h4><a target="_blank" href="http://www.lightstreamer.com">Lightstreamer</a></h4></li>
    </ul>
  </div>
</template>
