<template name="analytics">
  <div class="row">
    <div class="col-sm-4">
      <div id="solarvoltagechart1A" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart1B" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart2A" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart2B" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart3A" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart3B" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart4A" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart4B" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
  </div>
</template>
