<template name="analytics">
  <div class="row">
    <div class="col-sm-4">
      <div id="solarvoltagechart1A" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart1B" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart2A" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart2B" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart3A" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart3B" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart4A" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-4">
      <div id="solarvoltagechart4B" style="min-width: 150px; height: 200px; margin: 0 auto"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div id="o2" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-6">
      <div id="n2" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-6">
      <div id="co2" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-6">
      <div id="badh2o" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-6">
      <div id="goodh2o" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-6">
      <div id="cabinpressure" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-6">
      <div id="cabintemp" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="commandcount" style="min-width: 350px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <div id="datacount" style="min-width: 350px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <div id="pccount" style="min-width: 350px; height: 200px; margin: 0 auto"></div>
    </div>
  </div>
</template>
