<template name="home">
<div class="jumbotron boxshadow circlecontainer">
    <div class="circle centre"></div>
    <div class="inner circle"></div>
    <div class="middle circle"></div>
    <div class="outer circle"></div>
	<div class="row" align="center">
		<h1 class="accenttext primaryshadow">StationStream</h1>
		<h2 class="accenttext primaryshadow">Live Data from the International Space Station</h2>
	</div>
	<br />
	<div class="row">
		<div class="col-md-4 team" align="center">
			<div class="row"><a href="/cesium"><i class="large-icon fa fa-globe"></i></a></div>
			<div class="row"><h4 class="accenttext primaryshadow">Track the ISS in Real Time</h4></div>
		</div>
		<div class="col-md-4 team" align="center">
			<div class="row"><a href="/analytics"><i class="large-icon fa fa-database"></i></a></div>
			<div class="row"><h4 class="accenttext primaryshadow">View Live Data from the ISS</h4></div>
		</div>
		<div class="col-md-4 team" align="center">
			<div class="row"><a href="/api"><i class="large-icon fa fa-cloud-download"></i></a></div>
			<div class="row"><h4 class="accenttext primaryshadow">Access Our API</h4></div>
		</div>
	</div>
</div>
</template>