<template name="home">
<div class="jumbotron">
	<div class="row">
		<h1>StationStream</h1>
		<h2>Live Data from the International Space Station</h2>
	</div>
	<br />
	<hr />
	<br />
	<div class="row">
		<div class="col-xs-4 team">
			<a href="/cesium"><i class="large-icon fa fa-space-shuttle"></i></a>
		</div>
		<div class="col-xs-4 team">
			<a href="/analytics"><i class="large-icon fa fa-database"></i></a>
		</div>
		<div class="col-xs-4 team">
			<a href="/api"><i class="large-icon fa fa-list"></i></a>
		</div>
	</div>
</div>
</template>