<head>
  <title>StationStream | Live Data from the International Space Station</title>
  <link rel="shortcut icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="./Cesium.js"></script>
  <script src="./chart.js"></script>
</head>

<body>
    {{> navbar}}
    <div class="row-offcanvas row-offcanvas-right">
      {{> sidebar}}
      <div id="main">
          <div class="col-md-12">
              <p class="visible-xs">
                <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
              </p>
              {{> Router}}
          </div>
      </div>
    </div>
</body>